#exampleInputEmail{
    width: 200px;
    height: 25px;
    float: right;
    margin-top: -38px;
    margin-right: 42%;
    margin-bottom: px;
    background-color: rgb(250,250,250);
}

#fol{
    margin-top: 0px;
}

#mainbody{
    margin-top: -90px;
    background-color: rgb(250,250,250);
    height: 800px;
    width: 1350px;
    padding-top: 50px;   
}

a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}

#imgdiv{
    float: left;
    margin-left: 275px;
    margin-top: -25px;
    height: 150px;
    width: 150px;
    border-radius: 150px;
}

#fo{
    margin-top: -25px;
    margin-left: -190px;
    font-size: xx-large;
    font-weight: 200;
    float: left;
}

#message{
    margin-top: -12px;
    margin-left: -25px;
    background-color: rgb(250,250,250) ;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding-top: 2px;
    text-align: center;
    float: left;
    width: 90px;
    height: 30px;
    font-weight: 500;
    border-color: rgb(219,219,219);
}

#prof{
    margin-top: -12px;
    margin-left: 15px;
    background-color: rgb(250,250,250) ;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding-top: 2px;
    text-align: center;
    float: left;
    width: 90px;
    height: 30px;
    font-weight: 500;
    border-color: rgb(219,219,219);
}

#followership{
    margin-left: -50px;
    margin-top: 30px;

}

#four{
    margin-left: -405px;
    float: left;
    margin-top: 30px;
    font-weight: bold;
    
}

#sixHundred{
    float: left;
    margin-left:-300px ;
    margin-top: 30px;
    font-weight: bold;
}

#threehundred{
    margin-left: -150px;
    margin-top: 30px;
    float: left;
    font-weight: bold;
}

#post{
    margin-top: 32px; 
    float: left; 
    font-weight: 400;
    margin-left: -390px;
}

#followers{
    float: left;
    margin-top: 30px;
    margin-left: -265px
}

#following{
    margin-top: 30px;
    margin-left: -115px;
    float: left;
}

#tolu{
    float: left;
    margin-top: 70px;
    margin-left: -407px; 
}

#by{
    float: left;
    margin-top: 130px;
    margin-left: -407px; 
    font-size: small;
    color:  rgb(147,147,147);
    font-weight: 600;
}

#name{
    float: left;
    margin-top: 130px;
    margin-left: -330px; 
    font-size: small;
    font-weight: 600;
}

#bi{
    float: left;
    margin-top: 95px;
    margin-left: -407px;
}

#fol{
    margin-left: 31%;
    margin-top: -5%;
}

#bio{
    margin-left: 31%;
    margin-top: -5%;
}
#dropdown{
    margin-top: -12px;
    margin-left: 15px;
    background-color: rgb(250,250,250) ;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding-top: 2px;
    text-align: center;
    float: left;
    width: 30px;
    height: 30px;
    font-weight: 500;
    border-color: rgb(219,219,219);
}

#pro{
    margin-left: 50%;
    margin-top: 100px;
}

buttom{
    width: 70px;
    height: 30px;
    border-radius: 5px;
    margin-right: 40px;
    margin-top: 40px;
}

#ig{
    font-family: 'Engagement', cursive;
    font-weight: bold;
    font-size: xx-large;
    margin-top: -25px;
    margin-left: 200px;
}

#navbarr{
    height: 50px;
    z-index: 1;
    background-color:white;
    position: relative;
   padding-top: 30px;
    border-bottom: 1px;  
    border-bottom-style: solid;
    border-bottom-color: rgb(219,219,219);

}

#pic1{
    margin-top: -5px;
    width: 25px;
    height: 25px;
    border-radius: 25px;
}

#set{
    margin-top: -4px;
    margin-right: 50px;
  
}


#right{
    float: right;
    margin-left: auto;
    margin-top: -60px;
    margin-right: 220px;
}
#line{
    width: 920px;
    height: 1px;
    background-color: rgb(219,219,219);
    float: left;
    margin-top: 200px ;
    margin-left: -680px;
}

#postgrey{
    background-color: black;
    height: 1px;
    width: 80px;
    margin-left: 42%;
}


#po{
    margin-top: 5px;
    float: left;
    margin-left: -20px;
    font-size: small;
}

#pot{
    margin-top: 5px;
    float: left;
    margin-left: -20px;
    font-size: small;
}

#pos{
    float: left;
    margin-top: 220px;
    margin-left: -505px;
    font-size: small;
}
#pose{
    float: left;
    margin-top: 220px;
    margin-left: -435px;
    font-size: small;
}

#gridpic{
    float: left;
    margin-top: 60px;
    margin-left: -460px;
}

#imggrid{
    height: 280px;
    width: 280px;
    margin-right: 40px;
    float: left;
}

ul{
    float: left;
    margin-top: 500px;
    color: rgb(0,55,131);
    margin-left: 100px;

}
li{
    margin-top: 90px;
    list-style: none;
    float: left;
    margin-right: 10px;
    font-size: small;
    font-weight: 600;
   
}

#footer{
    margin-top: 100px;
}

#copyright{
    float: right;
    margin-top: 85px;
    color: rgb(152,142,145);
    font-size: small;
    font-weight: 500;
    margin-right: 100px;
}
#icon{
    margin-top: 14px;
    font-size: x-large;
    margin-right: 30px;
}