body{
    background-color: rgb(250,250,250);
}

#box1{
    margin-left: 38.5%;
    margin-top: 70px;
}

#box4{
    width: 360px;
    height: 60px;
    margin-left: 38.5%;
    
}

#box3{
    width: 360px;
    margin-top: 30px;
    margin-left: 38.5%;
}

#getapp{
    margin-left: 38.5%;
}

#getapptext{
    margin-left: 17%;
    margin-top: 15px;
}

#loginb{
    color: white;
    font-weight: bold;
}
#loginb2{
    color: white;
    font-weight: 500;
    margin-top: -5px;
}

#box2{
    margin-left: 38.5%;
    height: 60px;
}

#signup{
    color: rgb(0,149,247);
    font-weight: 500;
}

#signtext{
    color: rgb(142,142,142);
    text-align: center;
    font-weight: 500;
    font-size: large;
    margin-left: 12%;
    margin-right: 12%;
}
#policytext{
    color: rgb(142,142,142);
    text-align: center;
    font-weight: 300;
    font-size: small;
}

#acc{
    font-weight: lighter;
}

#acc2{
    font-weight: lighter;
    margin-left: 28.5%;
}

    #firstlane{
        display: none;
    }
    #secondlane{
     display: none;   
    }

#ig{
    font-style: italic;
    margin-top: 30px;
    font-weight: bold;
    text-align: center;
    font-size: xxx-large;
    font-family: 'cookie', cursive;
}

#fb2{
    color: white;
    margin-right: 10px;
    font-size: large;
}

#exampleInputEmail{
    background-color: rgb(250,250,250);
    font-size: small;
    margin-left: 18%;
    margin-bottom: -11px;
    height: 40px;
}

#OR{
    color: rgb(142,142,142);
    margin-left: 18px;
    font-weight: 500;
}

#loginSubmit{
    background-color: rgb(178,223,252);
    margin-left: 18%;
    margin-top: 20px;
    
}


#loginSubmit2{
    background-color: rgb(0,149,246);
    margin-left: 13%;
    
    height: 35px;
}
#loginSubmit3{
    background-color:rgb(178,223,252);
    margin-left: 18%;
    margin-top: 30px;
    height: 35px;
}

#leftline{
    background-color: rgb(219,219,219);
    float: left;
    margin-left: 10px;
    width: 120px;
    height: 1px;

}

#mid{
    float: left;
    margin-top: -10px;   
}

#rightline{
    float: right;
    background-color: rgb(219,219,219);   
    width: 120px;
    margin-right: 30px;
    height: 1px;  
}


#or{
    margin-top: 25px;
    flex-direction: row;
    margin-left: 6%;
    
}

#OR{
    color: rgb(142,142,142);
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 500;
}
#fb{
    color: rgb(56,81,133);
    margin-right: 10px;
    font-size: large;
}

#fbtext{
    color: rgb(56,81,133);
    margin-left: 25%;
    font-weight: bold;
    font-size: small;
}

#password{
    color: rgb(0,55,131);
    margin-left: 35%;
    font-size: small;
}

#apple{
    float: left;
    margin-left: 50px;
   margin-right: 20px;
    border-radius: 5px;
}

#mainbody{
    height: 1000px;
    width: 1350px;
    background-color: rgb(250,250,250);
    padding-top: 70px;
}

a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}

#android{
    border-radius: 5px;
}

ul{
    margin-top: 100px;
    color: rgb(0,55,131);
    margin-left: 100px;

}
li{
    margin-top: 90px;
    list-style: none;
    float: left;
    margin-right: 10px;
    font-size: small;
    font-weight: 600;
   
}

#copyright{
    float: right;
    margin-top: 85px;
    color: rgb(152,142,145);
    font-size: small;
    font-weight: 500;
    margin-right: 100px;
}



@media only screen and (max-width:700px){

        #box3{
            
                margin-left: 100px ;
                margin-top: 50px;
                width: 380px;
        }

        #apple{
            float: left;
            display: inline; 
           margin-right: 30px;
            border-radius: 5px;
            margin-left: -0px;
        }
        #android{
            border-radius: 5px;
        }
    
        #policytext{
            color: rgb(142,142,142);
            text-align: center;
            font-weight: 300;
            font-size: small;
            margin-left: 100px;
            margin-top: 10px;
            width: 380px;
        }

                
        #getapp{
            margin-left: 138.5px;
            width: 380px;
        }

        #getapptext{
            margin-left:   108.5px;
          width: 380px;
        }
            
        #mainbody{
            height: 1000px;
            width: 580px;
            padding-top: 1px;
            background-color: rgb(250,250,250);
        }

        #box4{
            width: 380px;
            height: 60px;
            margin-left: 100px;
            
        }
    
        #ig{
            font-style: italic;
            font-family: 'cookie', cursive;
            font-weight: bolder;
            font-size: xx-large;
            margin-top: 12px;
            margin-left: 50px;
         
        }
    
        
    #foot{
        margin-left: 45px;
        margin-top: 50px;
        color: rgb(0,55,131);
    }
    li{
        margin-top: 10px;
        list-style: none;
        float: left;
        margin-right: 10px;
        font-size: small;
        font-weight: 600;
       
        
    }
    
    #firstlane{
    
    }
    
    #secondlane{
      margin-left: 30px;
      margin-top: 10px;
        list-style: none;
        float: left;
        margin-right: 10px;
        font-size: small;
        font-weight: 600;
    }
   
    #copyright{
        margin-top: 15px;
        text-align: left;
        margin-right:980px;
        color: rgb(152,142,145);
        font-size: small;
        font-weight: 500;
    }
    
}