body{
    background-color: rgb(219,219,219);
}

#navbarr{
    height: 50px;
    z-index: 1;
    background-color:white;
    position: relative;
   
    border-bottom: 1px;  
    border-bottom-style: solid;
    border-bottom-color: rgb(219,219,219);

}



#ig{
    font-family: 'Engagement', cursive;
    font-weight: bold;
    font-size: xx-large;
    margin-top: 5px;
    margin-left: 200px;
}
#exampleInputEmail{
    width: 200px;
    height: 25px;
    float: right;
    margin-top: -33px;
    margin-right: 42%;
    margin-bottom: px;
    background-color: rgb(250,250,250);
}
#pic1{
    margin-top: -5px;
    width: 25px;
    height: 25px;
    border-radius: 25px;
}


#pic2{
    margin-left: 20px;
}


#t1{
    width:70px;
    display: flex;
    flex-direction: row;
    height: 70px;
    border-radius: 70px;
    margin-left: 10px;
    margin-top: 25px;
}

#t2{
    width:60px;
    display: flex;
    flex-direction: row;
    height: 60px;
    border-radius: 60px;
    margin-left: 25px;
    margin-top: 20px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(199,46,144);
}

a :hover{
    text-decoration: none;
    text-decoration: underline;
}


#pic2{
    width: 45px;
    height: 45px;
    margin-top: 65px;
    border-radius: 45px;
  
}

#tboy{
    font-size: small;
    margin-left: 80px;
    margin-top: 10px;
    
}
#folu{
    font-size: small;
    margin-left: 80px;
   color: rgb(162,162,162) ;
   width: 200px;
   font-weight: 400;
   margin-top: -5px;
}

#profile{
   margin-top: 70px;
   
}
#pic5{
    width: 30px;
    height: 30px;
    margin-top: 40px;
    border-radius: 30px;
    margin-left: 20px;
    float: left;
}

#follow{
    float: right;
    margin-right: 245px;
    margin-top: -30px;
    font-size: smaller;
    color: rgb(3,150,246);
}

#pic6{
    width: 30px;
    height: 30px;
    margin-top: 85px;
    border-radius: 30px;
    margin-left: -190px;
    float: left;
}

#pic7{
    width: 30px;
    height: 30px;
    margin-left: 30px;
    border-radius: 30px;
    
    float: left;
}
#mainbody{
    margin-top: -90px;
    background-color: rgb(250,250,250);
    height: 5000px;
    width: 1350px;
    padding-top: 50px;   
}


#tbo{
    margin-top: 35px;
     font-size: small;
     margin-left: 70px;
   
 }
 #fol{
     margin-left: 70px;
     margin-top: -5px;
     width: 200px;
     font-weight: 400;
     font-size: x-small; 
     float: left;   
 }



 #first{
    margin-left: 5px;
 }

 #bookmark{
    float: right;
    margin-right: 20px;
    color: white;
    border: black 1px;
} 

 #sec{
    margin-top: 5px;
    margin-left: 5px;
 }

 #bigdiv{
     background-color: white;
     border-style: solid;
     border-color: rgb(219,219,219);
     border-width: 1px;
     width: 620px;
     
 }

 
 #texts{
    margin-top: 50px;
    margin-left: 5px;
}

 #third{
    
    margin-left: 5px;
 }

 #report{
    margin-left: 600px;
    margin-top: -30px;
 }

#leftscroll{
    margin-bottom: 40px;
    margin-top: 0px;
    margin-left: 200px;
    width: 620px;
    height: 100px;
    display: flex;
    flex-direction: row;
}

#lefts{
    margin-top: 60px;
    height: 100%;
    width: 65%;
    
}

#picboy{
    width: 620px;
    height: 650px;
    margin-top: -19px;
}

#rightfixed{
    height: 300px;
    width: 500px;
    position: fixed;
    float: right;
    margin-left: 63%;
    margin-top: -250px;
    
}


#sugg{
    float: left;
    margin-right: 50px;
    
    margin-left: 22px;
    color: rgb(189,189,189);
    font-weight: 600;
    
}

#see{
    margin-top: 30px;
    font-size: small;
}


#picdiv{
    margin-top: -20px;
    float: left;
    width: 620px;
}

#picdiv2{
    margin-top: -50px;
    float: left;
}

#prof2{
    margin-top: -63px;
    width: 250px;
      
}

#doc{
    margin-top: 20px;
}




#tbo1{
    margin-top: 50px;
     font-size: small;
     margin-left: 70px;
 }
 #fol1{
     margin-left: 70px;
     margin-top: -5px;
     width: 200px;
     font-weight: 400;
     font-size: x-small;
      color: rgb(189,189,189);      
 }

 
#picdiv3{
    margin-top: -40px;
    float: left;
    margin-left: 220px;
    width: 100px;
}



 #tbo2{
   
     font-size: small;
     margin-left: 70px;
 }
 #fol2{
    margin-left: 70px;
     margin-top: -5px;
     width: 400px;
     font-weight: 400;
     font-size: x-small; 
     color: rgb(189,189,189);   
 }

 
#prof3{
    margin-top: 0px;
    width: 250px;
      
}

#foot{
    margin-top: 25px;
}
#foot1{
    margin-top: 20px;
}

ul{
    
    color: rgb(214,214,214);
    margin-left: -10px;
    margin-bottom: 150px;

}

#block{
   margin-right: 190px;
   margin-top: 20px;
}
li{
    
    list-style: none;
    float: left;
    margin-right: 4px;
    font-size: small;
    font-weight: 600;
    font-size: x-small;
       
   
}

#copy{
    margin-top: -90px;
}

#copyright{
    color: rgb(214,214,214);
    margin-top: 80px;
    margin-left: 40px;
    font-size: small;
    margin-left: 30px;
}

#posts{
    width: 620px;
    margin-left: 200px;
    height: 60px;
    margin-top: 25px;
}




#posts2{
    width: 620px;
    height: 60px;
    margin-top: 50px;
}





#prof{
    margin-top: -65px;
    width: 250px;
      
}

span{
    height: 50px;
    width: 20px;
    float: left;
    margin-right: 25px;
    
}
#right{
    float: right;
    margin-left: auto;
    margin-top: -60px;
    margin-right: 220px;
}
#icon{
    margin-top: 14px;
    font-size: x-large;
    margin-right: 30px;
}

#belowicon{
    margin-top: px;
    font-size: x-large;
    margin-left: 3px;
}

#three{
    margin-left: 10px;
}

#first{

}

#sec{
    float: left;
    margin-right: 15px;
    margin-top: 1px;
}

#third{
    margin-top: -10px;
    font-size: x-small;
    color: rgb(191,191,191);
}

#lord{
    margin-left: 20px;
    ;
}

@media only screen and (max-width:1000px) {
    #rightfixed{
        height: 300px;
        width: 500px;
        position: fixed;
        float: right;
        margin-left: 35%;
        margin-top: 2000px;
        display: none;
    }

    #ig{
        font-family: 'Engagement', cursive;
        font-weight: bold;
        font-size: xx-large;
        margin-top: 5px;
        margin-left: 20px;
    }

    
#leftscroll{
    margin-bottom: 40px;
    margin-top: 0px;
    margin-left: 20px;
    width: 620px;
    height: 100px;
    display: flex;
    flex-direction: row;
}


#posts{
    width: 620px;
    margin-left: 20px;
    height: 60px;
    margin-top: 25px;
}

#right{
    float: right;
    margin-right: -100px;
    margin-top: -60px;
   
}

ul{
    
    color: rgb(214,214,214);
    margin-left: 30px;
    margin-top: 500px;

}

#copyright{
    color: rgb(214,214,214);
    margin-top: 520px;
    margin-left: 40px;
    font-size: small;
    
}


}