body{
    background-color: rgb(219,219,219);
}

#navbarr{
    height: 50px;
    z-index: -1;
    
    border-bottom: 1px;  
    border-bottom-style: solid;
    border-bottom-color: rgb(219,219,219);
}


#ig{
    font-family: 'Engagement', cursive;
    font-weight: bold;
    font-size: xx-large;
    margin-top: 5px;
    margin-left: 200px;
}
#exampleInputEmail{
    width: 200px;
    height: 25px;
    float: right;
    margin-top: -40px;
    margin-right: 42%;
    margin-bottom: px;
    background-color: rgb(250,250,250);
}

#pic1{
    width: 15px;
    height: 15px;
    border-radius: 15px;
}

#pic2{
    margin-left: 20px;
}


#t1{
    width:70px;
    display: flex;
    flex-direction: row;
    height: 70px;
    border-radius: 70px;
    margin-left: 10px;
    margin-top: 25px;
}

#t2{
    width:70px;
    display: flex;
    flex-direction: row;
    height: 70px;
    border-radius: 70px;
    margin-left: 35px;
    margin-top: 15px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(199,46,144);
}

#pic2{
    width: 60px;
    height: 60px;
    margin-top: 70px;
    border-radius: 60px;
    margin-left: 30px;
}

#mainbody{
    background-color: rgb(250,250,250);
    height: 1000px;
    width: 1350px;
   
}

#tboy{
   margin-top: 30px;
    font-size: large;
    margin-left: 120px;
}
#folu{
    margin-left: 120px;
    color: rgb(162,162,162) ;
    width: 200px;
    font-weight: 400;
    font-size: large;    
}


#leftscroll{
    float: left;
    margin-top: 50px;
    margin-left: 200px;
    width: 650px;
    height: 100px;
    display: flex;
    flex-direction: row;
}

#rightfixed{
    height: 300px;
    width: 500px;
    float: right;
    
}



#profile{
    margin-top: 75px;
    margin-right:1250px;  
}

span{
    height: 50px;
    width: 20px;
    float: left;
    margin-right: 25px;
    
}
#right{
    float: right;
    margin-left: auto;
    margin-top: -60px;
    margin-right: 220px;
}
#icon{
    margin-top: 7px;
}

